<a href="https://colab.research.google.com/github/ElnazDi/Pandas/blob/main/Make_Your_CSV_Shorter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import files
import pandas as pd

In [2]:
data = pd.read_csv('london_crime_by_lsoa.csv')

In [3]:
data

        lsoa_code        borough  ...    year month
0       E01001116        Croydon  ...  2016.0  11.0
1       E01001646      Greenwich  ...  2016.0  11.0
2       E01000677        Bromley  ...  2015.0   5.0
3       E01003774      Redbridge  ...  2016.0   3.0
4       E01004563     Wandsworth  ...  2008.0   6.0
...           ...            ...  ...     ...   ...
181998  E01003358         Merton  ...  2009.0   8.0
181999  E01033599    Westminster  ...  2016.0   4.0
182000  E01001391        Enfield  ...  2016.0   1.0
182001  E01001671      Greenwich  ...  2008.0   5.0
182002  E01004445  Waltham Fores  ...     NaN   NaN

[182003 rows x 7 columns]

In [4]:
new = data.iloc[0:20000,]

In [5]:
new.shape

(20000, 7)

In [7]:
short = new.to_csv('london_crime_shortlist.csv')
files.download('filename.csv')